/.idea
.DS_Store
/vendor
*/dist
*/tmp
*/out-tsc
/node_modules
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/e2e/*.js
/e2e/*.map
Thumbs.db