
				<form [formGroup]="updateProfileForm" (submit)="updateProfile()" novalidate>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="email">Email</label>
							<input type="email" class="form-control" id="email" formControlName="profileEmail">
						</div>
						<div class="form-group col-md-6">
							<label for="username">Username</label>
							<input type="text" class="form-control" id="username" formControlName="profileUsername">
						</div>

						<div class="form-group col-md-6">
							<label for="firstName">First Name</label>
							<input type="text" class="form-control" id="firstName" formControlName="profileFirstName">
						</div>
						<div class="form-group col-md-6">
							<label for="lastName">Last Name</label>
							<input type="Text" class="form-control" id="lastName" formControlName="profileLastName">
						</div>
						<button type="button" class="btn btn-secondary">Add a photo</button>
					</div>
					<button type="submit" class="btn btn-secondary my-5">Submit</button>
				</form>
