<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">


	<a class="navbar-brand" href="#"><i class="fas fa-mountain"></i> ABQ TRAILS</a>


	<button class="navbar-toggler btn-primary mt-1" type="button" data-toggle="collapse" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >

		<span class="navbar-toggler-icon"></span>

	</button>



	<div [ngbCollapse]="!isNavbarCollapsed" class="collapse navbar-collapse" id="navbarNav">

		<ul class="navbar-nav ml-auto">

			<li class="nav-item">

				<a class="nav-link text-primary" href="./sign-up">Sign Up</a>

			</li>

			<li class="nav-item">

				<a class="nav-link text-primary" data-toggle="modal"(click)="openSignInModal()">Sign In</a>

			</li>

			<li class="nav-item dropdown" ngbDropdown>

				<a class="nav-link dropdown-toggle text-primary" ngbDropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>

				<div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdown">

					<a class="dropdown-item" ngbDropdownItem href="./profile-view">Profile Page</a>

					<a class="dropdown-item" ngbDropdownItem data-toggle="modal"(click)="openUpdateProfileModal()">Update Profile</a>

				</div>

			</li>

			<li class="nav-item">

				<a class="nav-link text-primary" data-toggle="modal" (click)="openAddImageModal()">Add Image</a>

			</li>



		</ul>

		<form class="form-inline my-2 my-lg-0">

			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

			<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>

		</form>

	</div>

</nav>





<!--NAVBAR-->

<!--<div class="container-fluid">-->
	<!--<div class="row">-->
		<!--<div class="col">-->
			<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
				<!--<a class="navbar-brand" href="#"><i class="fas fa-mountain"></i> ABQ TRAILS</a>-->

				<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" (click)="isCollapsed = !isCollapsed"-->
						  <!--[attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">-->
					<!--<span class="navbar-toggler-icon"></span>-->
				<!--</button>-->

				<!--<div id="collapseExample" [ngbCollapse]="!isCollapsed">-->
				<!--<ul class="navbar-nav ml-auto">-->
						<!--<li class="nav-item active">-->
							<!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
						<!--</li>-->
						<!--<li class="nav-item">-->
							<!--<a class="nav-link" href="#">Trails</a>-->
						<!--</li>-->
						<!--<li class="nav-item">-->
							<!--<a class="nav-link" href="#">Profile</a>-->
						<!--</li>-->

						<!--<li class="nav-item">-->
							<!--<a class="nav-link" (click)="signOut()">Sign In</a>-->
						<!--</li>-->

						<!--<li class="nav-item">-->
							<!--<a class="nav-link" href="#">Sign Out</a>-->
						<!--</li>-->
					<!--</ul>-->
				<!--</div>-->
			<!--</nav>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->

<map></map>