<main>
		<div class="container my-1">
				<div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
					<search></search>
				</div>
		</div>
		<div class="container">
				<div class="map-box col-12 col-sm-10 col-md-8 col-lg-6 mx-auto ">
						<map></map>
				</div>
		</div>
		<div class="container my-1">
				<div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
						<button type="button" class="btn btn-lg btn-block" [routerLink]="['/trail']" style="background-color:#008c7d; color: white; margin: 0;">
							View All Trails
						</button>
				</div>
		</div>
</main>