<main>
	<div class="container-fluid my-1">
		<div class="row d-flex justify-content-center">
			<div class="col-xs-12 col-md-4">
				<search></search>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row d-flex justify-content-center">
			<div class="map-box col-xs-12 col-md-4">
					<map></map>
			</div>
		</div>
	</div>
	<div class="container-fluid my-1">
		<div class="row d-flex justify-content-center">
			<div class="trail-toggle-btn col-xs-12 col-md-4">
					<button type="button" class="btn btn-dark btn-lg btn-block" [routerLink]="['/trail']">View All Trails</button>
			</div>
		</div>
	</div>

</main>