<phpunit>
	<testsuites>
		<testsuite name="CapstoneTrails\AbqTrails">
			<!--<file>ProfileTest.php</file>-->
			<!--<file>TrailTest.php</file>-->
			<!--<file>TagTest.php</file>-->
			<!--<file>PhotoTest.php</file>-->
			<!--<file>TrailTagTest.php</file>-->
			<file>RatingTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>