<phpunit>
	<testsuites>
		<testsuite name="CapstoneTrails\AbqTrails">
			<file>PhotoTest.php</file>
			<file>ProfileTest.php</file>
			<file>TrailTest.php</file>
			<file>TagTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>