/* MAPBOX */

body {
	margin:0;
	padding:0;
}

#map {
	top:0;
	bottom:0;
	width:100%; }

mgl-map {
	height: 78vh;
}

mgl-marker {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #02B29F;
}

.popup {
	width: 100px;
	height: 100px;
}