<div class="modal-header">
	<h4 class="modal-title">Sign In</h4>

	<button type="button" class="close" aria-label="Close" (click)="closeModalButton()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">
		<form [formGroup]="signInForm" (submit)="submitSignIn()" novalidate>
			<div class="form-group">
				<label for="email">Email address</label>
				<input type="email" class="form-control" id="email" formControlName="profileEmail" aria-describedby="emailHelp">
				<div class="alert alert-danger" *ngIf="signInForm.controls.profileEmail?.invalid && signInForm.controls.profileEmail?.touched">
					<p *ngIf="signInForm.controls.profileEmail?.errors.required">An email is required</p>
					<p *ngIf="signInForm.controls.profileEmail?.errors.maxlength">The email is too long</p>
					<p *ngIf="signInForm.controls.profileEmail?.errors.email">Please enter a valid email</p>
				</div>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" formControlName="profilePassword">
				<div class="alert alert-danger" *ngIf="signInForm.controls.profilePassword?.invalid && signInForm.controls.profilePassword?.touched">
					<p *ngIf="signInForm.controls.profilePassword?.errors.required">A password is required</p>
					<p *ngIf="signInForm.controls.profilePassword?.errors.maxlength">The password is too long</p>
					<p *ngIf="signInForm.controls.profilePassword?.errors.minlength">Your Password must be more that 8 characters long.</p>
				</div>
			</div>
			<button type="submit" class="btn btn-info">Submit</button>

			<p>Don't have a profile yet? Sign Up!</p>
		</form>

		<div *ngIf="status !== null" class="alert alert-dismissible" [ngClass]="status.type" role="alert">
			<button type="button" class="close" aria-label="Close" (click)="status = null;"><span
				aria-hidden="true">&times;</span></button>
			{{ status.message }}
		</div>
	</div>

