
.trail-detail .trail-avatar {
	height: 20vh;
	width: 80vw;
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.trail-detail .trail-description {
}

p {
	font-weight: 300;
}


mgl-map {
	height: 20vh;
}