<main class="trail-list">
		<div class="col-12 col-sm-10 col-md-8 col-lg-5 mx-auto">
			<div class="card " *ngFor="let trail of trails">
				<div class="trail-avatar container" [ngStyle]="{ 'background-image': 'url(' + trail.trailAvatarUrl + ')'}">
				</div>
				<div class="card-body">
					<h5 class="card-title" (click)="getDetailedTrailView(trail)">{{trail.trailName}}</h5>
					<p class="card-text">{{trail.trailDescription}}</p>
					<div class="row">
						<div class="col text-left">
							<ngb-rating [(rate)]="rating.ratingDifficulty">
								<ng-template let-fill="fill" let-index="index">
									<span class="star" [class.filled]="fill === 100">&#9733;</span>
								</ng-template>
							</ngb-rating>
						</div>
					</div>
					<div class="row justify-content-start">
						<div class="col-12 col-sm-10 col-md-8 col-lg-5">
							<a href="#" class="badge badge-secondary m-1">biking</a>
							<a href="#" class="badge badge-secondary m-1">camping</a>
							<a href="#" class="badge badge-secondary m-1">dog friendly</a>
							<a href="#" class="badge badge-secondary m-1">hiking</a>
							<a href="#" class="badge badge-secondary m-1" >kid friendly</a>
						</div>
					</div>
				</div>
			</div>
		</div>
</main>