
.trail-detail {
	background: #f8f7f2;
}

.trail-detail .trail-avatar {
	height: 20vh;
	width: 100%;
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.trail-detail .trail-description {
	font-size: .9rem;
}

p {
	font-weight: 300;
}


mgl-map {
	height: 20vh;
	width: 100%;
}

.trail-detail div div .trail-detail-tags div div .badge {
	background: #D95011;
}


.trail-detail div div div div button {
	color: white;
	background: #008C7D;
}
