<main class="trail-detail">
	<section class="container mt-3">
		<div class="container mb-3">
			<div class="row">
				<div class="col">
					<img [src]="trail.trailAvatarUrl" alt=""/>
				</div>
			</div>
		</div>
		<div class="container text-center">
			<h1>{{trail.trailName}}</h1>
		</div>
		<div class="container text-center">
			<img src="https://via.placeholder.com/300x150" alt="THIS IS MAPBOX"/>
		</div>
		<div class="container text-left my-3">
			<p>{{trail.trailDescription}}</p>
		</div>
		<div class="container">
			<div class="row">
				<div class="col my-3 d-flex justify-content-center">
					<p>******</p>
				</div>
			</div>
		</div>
		<div class="container">
			<p class="text-center">Info at a glance:</p>
			<div class="row">
				<div class="col text-center" *ngFor="let trailtag of trailtags">
					<a href="#" class="badge badge-secondary">{{trailtag.trailTagTrailId}}</a>
				</div>
			</div>
		</div>
	</section>
	<div>
</div>
</main>