<main class="trail-detail">
	<section class="container mt-3">
		<div class="container text-center mb-3">
			<img src="https://via.placeholder.com/75" alt=""/>
			<h1>Some Trail</h1>
		</div>
		<div class="container text-center">
			<img src="https://via.placeholder.com/300x150"/>
		</div>
		<div class="container text-left my-3">
			<p>Pastrami swine filet mignon pork porchetta rump pork loin. Bacon frankfurter pancetta ham hock alcatra capicola short loin rump bresaola meatball salami sausage tri-tip pork chop.</p>
		</div>
		<div class="container">
			<div class="row">
				<div class="col my-3 d-flex justify-content-center">
					<img class="px-3" src="https://via.placeholder.com/50" alt=""/>
					<img class="px-3" src="https://via.placeholder.com/50" alt=""/>
					<img class="px-3" src="https://via.placeholder.com/50" alt=""/>
				</div>
			</div>
		</div>
		<div class="container">
			<p class="text-center">Info at a glance:</p>
			<div class="row">
				<div class="col text-center">
					<a href="#" class="badge badge-secondary">tag name</a>
					<a href="#" class="badge badge-secondary">tag name</a>
					<a href="#" class="badge badge-secondary">tag name</a>
					<a href="#" class="badge badge-secondary">tag name</a>
					<a href="#" class="badge badge-secondary">tag name</a>
					<a href="#" class="badge badge-secondary">tag name</a>
					<a href="#" class="badge badge-secondary">tag name</a>
				</div>
			</div>
		</div>
	</section>
	<div>
</div>
</main>