<div class="container-fluid mb-2">
	<div class="card">
		<img src="https://via.placeholder.com/300x100" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Some Trail</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<div class="row">
				<div class="col text-left">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
				</div>
			</div>
			<div class="row">
				<div class="col text-left">
					<a href="#" class="badge badge-secondary">paved</a>
					<a href="#" class="badge badge-secondary">camping</a>
					<a href="#" class="badge badge-secondary">dog-friendly</a>
				</div>
			</div>
		</div>
	</div>
</div>