<div class="trail-list container-fluid">
			<div class="card" *ngFor="let trail of trails">
				<div class="trail-avatar container" [ngStyle]="{ 'background-image': 'url(' + trail.trailAvatarUrl + ')'}">
					<!--<img [src]="trail.trailAvatarUrl" class="card-img-top" alt="...">-->
				</div>
				<div class="card-body">
					<h5 class="card-title" (click)="getDetailedTrailView(trail)">{{trail.trailName}}</h5>
					<p class="card-text">{{trail.trailDescription}}</p>
					<div class="row">
						<div class="col text-left">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
					</div>
					<div class="row">
						<div class="col text-left">
							<a href="#" class="badge badge-secondary">paved</a>
							<a href="#" class="badge badge-secondary">camping</a>
							<a href="#" class="badge badge-secondary">dog-friendly</a>

				</div>
			</div>
		</div>
	</div>
</div>