
.trail-list .trail-avatar {
	height: 20vh;
	width: 100%;
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p {
	font-weight: 300;
}

.trail-list div div div div div .badge {
	background: #D95011;
}
