
<section class="trail-detail">
	<div class="row">
		<div class="col" style="background-color: #dbd9ce">
		</div>

		<div class="col-12 col-sm-10 col-md-8 col-lg-5" style="background-color: #f8f7f2">
			<div class="trail-avatar container text-center my-3" [ngStyle]="{ 'background-image': 'url(' + trail.trailAvatarUrl + ')'}">
				<!--<img class="img-fluid pt-3" [src]="trail.trailAvatarUrl" alt="" />-->
			</div>

			<div class="container text-center my-3">
				<h4>{{trail.trailName}}</h4>
			</div>

			<div class="container text-center">
			</div>

			<div class="trail-description container text-center col-10 mt-3 mb-4">
				<p>{{trail.trailDescription}}</p>
			</div>

			<mgl-map [style]="'mapbox://styles/mapbox/light-v9'" [center]="[trail.trailLongitude, trail.trailLatitude]" [zoom]="[9]" (load)="map= $event">
				<ng-container>
					<mgl-marker [lngLat]="[trail.trailLongitude, trail.trailLatitude]" #myMarker></mgl-marker>
					<mgl-popup [marker]="myMarker">
						<a>{{trail.trailName}}</a>
						<p>Trail location: {{trail.trailLongitude}}, {{trail.trailLatitude}}</p>
					</mgl-popup>
				</ng-container>
			</mgl-map>

			<div class="container mt-4">
				<div class="row">
					<div class="col d-flex justify-content-center">
						<h5>RATING</h5>
					</div>
					<div class="col d-flex justify-content-center">
						<h5>DIFFICULTY</h5>
					</div>
				</div>

				<div class="row">
					<div class="col d-flex justify-content-center">
						<ngb-rating [(rate)]="rating.ratingValue">
							<ng-template let-fill="fill" let-index="index">
								<span class="star" [class.filled]="fill === 100">&#9733;</span>
							</ng-template>
						</ngb-rating>
					</div>
					<div class="col d-flex justify-content-center">
						<ngb-rating [(rate)]="rating.ratingDifficulty">
							<ng-template let-fill="fill" let-index="index">
								<span class="star" [class.filled]="fill === 100">&#9733;</span>
							</ng-template>
						</ngb-rating>
					</div>
				</div>
			</div>
			<p class="text-center" style="font-weight: 400;">Info at a glance:</p>
			<p class="text-center">	Trail High: {{trail.trailHigh}} ft.,
				Trail Low: {{trail.trailLow}} ft.<br>
				Trail Length: {{trail.trailLength}} miles</p>
			<div class="trail-detail-tags container mt-2 mb-5">

				<div class="row justify-content-center">
				<div class="col-12 col-sm-10 col-md-8 col-lg-5 d-flex flex-wrap justify-content-between">
						<a href="#" class="badge badge-secondary m-1">paved</a>
						<a href="#" class="badge badge-secondary m-1">camping</a>
						<a href="#" class="badge badge-secondary m-1">dogs</a>
						<a href="#" class="badge badge-secondary m-1">fire</a>
						<a href="#" class="badge badge-secondary m-1" >unpaved</a>
					</div>
				</div>
			</div>



			<!-- UNUSED PHOTO UPLOADER-->

			<!--<div class="container text-center mt-4">-->
				<!--<button ckjnklass="btn btn-info btn-md" (click)="openUploadPhotoModal()">Add Photo</button>-->
			<!--</div>-->



			<div class="container-fluid mb-3">
				<div class="row">
					<div class="trail-toggle-btn col">
						<button type="button" class="btn btn-lg btn-block" [routerLink]="['/trail']">View All Trails</button>
					</div>
				</div>
			</div>

		</div> <!-- END OF CONTAINER -->


		<div class="col" style="background-color: #dbd9ce"> <!-- SPACER -->
		</div>

	</div>

</section>

