@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');

main {
	height: 100vh;
	width: 100vw;
}

mgl-map {
	height: 90%;
	width: 100%;
}

mgl-marker {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: blue;
}

